extends base

block body

	div.container
		br
		br
		br
		br
		h1 Películas
		div
			p peli 1

		h2 Socios
		form(action='/users/create', method='POST', accept-charset='utf-8')
			label(for='nombre') Nombre Completo:
			input(type='text',name='nombre')
			br			
			label(for='telefono') Telefono:
			input(type='text',name='telefono')
			br
			label(for='correo') Correo:
			input(type='email',name='correo')
			br
			label(for='nacimiento') Fecha de Nacimiento:
			input(type='date',name='nacimiento')
			br
			label(for='domicilio') Domicilio:
			input(type='text',name='domicilio')
			br
			input(type='submit', value='enviar') 
